#dbsync_licensecopyright{
	background-color: #F0AC45;
	color: #FFDF79;
	text-align: center;
}
#info_distrib_notice{
	background-color: #FFFFCC;
	border: 1px dashed #FADFAD;
	color: #B43357;
	font-size: 0.7em;
	font-weight: bold;
	padding: 5px;
}